
<h1>Login!</h1>
<p></p>

<p>First time visiting To Do List? Registration is easy. It's free. And it starts here: <a href="/users/user_new">Registration</a><br>
</p>


<p>Returning user Login:</p>


<form action = "/logins/login_create" method="post">


  Email:
    <input type ="text" name="email" placeholder="email">
  Password:
    <input type ="text" name="password" placeholder="password">

  <input type ="submit">
  
</form>

