
<h1>Login!</h1>
<p></p>

<form action = "/logins/login_success" method="post" >


  Email:
    <input type ="text" name="email" placeholder="email">
  Password:
    <input type ="text" name="password" placeholder="password">

  <input type ="submit">
  
</form>

