

<h1>Act Now time is running out!</h1>
<p></p>

<form action = "/users/user_create" method="post"> 

  Name:
    <input type ="text" name="name" placeholder="name">
  Email:
    <input type ="text" name="email" placeholder="email">
  Password:
    <input type ="text" name="password" placeholder="password">

  <input type ="submit">
  
</form>