
<!-- #new user sign up form -->

<a href="/">Home</a><br>

<h1>Act Now time is running out!</h1>
<p>.</p>

<form action = "/user/create">

  <input type ="text" name="user_name" placeholder="user name">
  <input type ="text" name="email" placeholder="email address">

  <input type ="submit">
  
</form>


