

<a href="/logins/login_delete">Logout</a><br>



Welcome to the ToDo List!

Get started now.
<!-- 

This exercise made me think of a program that already exists. Call it Barter. I post stuff on my to do list that I don't want to do or I'm bad at, you say you will do item 3 or whatever in exchange for your item 5 on your todo list. Just a thought. -->