

<a href="/logins/login_delete">Logout</a><br>



Welcome to the ToDo List!

Get started now.

<!-- The ToDo list will be a list of Array objects. Use an each do loop to show the items on the page. Todo "completed" should just be a check box.
 -->

<h2>ToDos</h2>

  <p><% @todos.each do |todo| %></p><br>

    <p>Done?: <%= todo.completed %>  ToDo: <%= todo.title %></p>
    <p>Description: <%= todo.description %></p>
 <% end %>



# <!-- Have to think about who exactly can delete an item. #to delete an item
# get "/todos/todo_delete/:id" do

# @todo = Todos.find_by_id(params[:id])
# @todo.delete
#   erb: "/todos/todo_home"
# end -->
# <!-- 
