<h2>Well done!</h2>

<p><a href="/todos/todos_new">Assign Another Job</a></p><br>

<p><a href="/todos/todo_home">Check the ToDo List</a></p><br>

<p><a href="/logins/login_delete">Hit the Hammock</a></p><br>



